/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define QWERTY 0
#define LOWER 1
#define RAISE 2
#define FUNCTION 3
#define ADJUST 4

#define AS(keycode) &as LS(keycode) keycode

#define CTR_ESC &mt LCTRL ESC
#define L_SHFT_PAR &mt LSHFT LPAR
#define R_SHFT_PAR &mt RSHFT RPAR
#define LCK_SCN &kp LGUI(LCTRL(Q))

/ {
	behaviors {
		as: auto_shift {
			compatible = "zmk,behavior-hold-tap";
			label = "AUTO_SHIFT";
			#binding-cells = <2>;
			tapping_term_ms = <150>;
			quick_tap_ms = <0>;
			flavor = "tap-preferred";
			bindings = <&kp>, <&kp>;
		};
	};

	keymap {
		compatible = "zmk,keymap";

		default_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// |  TAB  |  Q  |  W  |  E   |  R   |  T   |                                          |  Y   |  U    |  I    |  O   |   P   |   -  |
// |CTRLESC|  A  |  S  |  D   |  F   |  G   |                                          |  H   |  J    |  K    |  L   |   ;   |   '  |
// | SHIFT |  Z  |  X  |  C   |  V   |  B   | L SHIFT | L SHIFT |  | L SHIFT | L SHIFT |  N   |  M    |  ,    |  .   |   /   | CTRL |
//                     | GUI  | DEL  | RET  |  SPACE  |   ESC   |  |   RET   |  SPACE  | TAB  | BSPC  | R-ALT |
			bindings = <
	&kp TAB    AS(Q) AS(W) AS(E) AS(R) AS(T)                                                AS(Y) AS(U)  AS(I)     AS(O)   AS(P)    AS(KP_MINUS)
	CTR_ESC    AS(A) AS(S) AS(D) AS(F) AS(G)                                                AS(H) AS(J)  AS(K)     AS(L)   AS(SEMI) AS(SQT)
	L_SHFT_PAR AS(Z) AS(X) AS(C) AS(V) AS(B) &kp LBKT  LCK_SCN      &none    &kp RBKT       AS(N) AS(M)  AS(COMMA) AS(DOT) AS(FSLH) R_SHFT_PAR
	                 &kp LGUI &kp LCMD &none &kp SPACE &none        &kp RET  &kp RET   &none &kp BSPC &kp RALT
			>;
		};
	};
};
